.message-baloon {
    background: rgba(247, 235, 218, 0.87);
    max-width: 400px;
    min-width: 250px;
    padding: 0px 20px;
    display: flex;
    /* margin-bottom: 10px; */
    margin: 4px 10px 4px 10px;
    line-break: anywhere  ;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message-baloon.left {
    background-color: rgba(255, 255, 255, 0.719);
    align-self: flex-start;
    border-radius: 0  20px 20px 20px;
}

.message-baloon.right {
    align-self: flex-end;
    border-radius: 20px 20px 0 21px;
}

.yeaah {
    height: 100vh;
}

.message-baloon > div > .time {
    font-size: 0.8rem;
}